.competition-page-container {
  background-color: #f7f7f7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-passport-container {
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.competition-passport {
  width: 400px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.competition-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-photo img {
  width: 100px;
  height: 100px;
}

.competition-details h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #001f3f;
}


.competition-page-container h3.title {
  margin-top: 30px;
  font-size: 20px;
  color: #001f3f;
}

@media (max-width: 768px) {
  .competition-passport {
    max-width: 100%;
    padding: 10px;
  }
}

.add-to-favourite-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 14px;
  background-color: #001f3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-favourite-btn:hover {
  background-color: #003366;
}

