.league-table {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

.league-table th,
.league-table td {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.league-table th {
  background-color: #001F3F;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1; 
}

.league-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.league-table tbody tr:hover {
  background-color: #f1f1f1;
}

.league-table tbody td {
  padding: 1rem;
  font-weight: 500;
}

.league-table td:nth-child(3), 
.league-table td:nth-child(10) {
  font-weight: 700;
  background-color: #ffd9009e;
  color: #001F3F;
  border-radius: 5px;
  padding: 1rem;
}

.league-table td:nth-child(3) {
  background-color: #fff2a891; 
}

.league-table td:nth-child(10) {
  background-color: #acffac81;
  color: #001F3F;
}



